* {
    margin: 0;
    padding: 0;
}

.header_container {
    max-width: 1440px;
    margin: 0 auto;

}

header {
    padding-top: 35px;
}

.header_wrapper {
    display: flex;
    margin-bottom: 35px;
}

.header_title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-left: 63px;
    margin-right: 570px;
}

.header_title_link {
    text-decoration: none;
    color: black;
}

.header_links {
    display: flex;
    margin-top: 25px;
}

.header_link {
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-left: 35px;
    padding-top: 15px;
}

.header_hr {
    color: gainsboro;
    margin-bottom: 75px;
}

/***********************MAIN BEGIN*****************************/

.main {
    padding-bottom: 115px;
}

.container {
    max-width: 854px;
    margin: 0 auto;
}

.main_img {
    height: 533px;
    width: 854px;
    margin-bottom: 44px;
}

.main_title {
    font-size: 54px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    margin-bottom: 32px;
}

.main_subtitle {
    max-width: 592px;
    font-family: 'SF Mono';
    font-weight: 400;
    font-size: 24px;
    line-height: 170%;
    text-align: center;
    margin-left: 131px;
    margin-bottom: 34px;
}

.main_hr {
    margin-bottom: 64px;
}


/***************************ARTICLES***********************************************/

.container_small {
    max-width: 640px;
    margin: 0 auto;
}

.main_article {
    margin: 0 auto;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    margin-bottom: 39px;
}

.article_boxes {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 30px;
}

.article_box_link {
    text-decoration: none;
    color: black;
}

.article_box_link:hover {
    opacity: 0.7;
    color: blueviolet;
}

.article_img {
    width: 304px;
    height: 176px;
}

.article_title {
    max-width: 262px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    margin: 0 auto;
}


/***************************FOOOOTEEER************************/

.footer {
    background-color: #000;
    padding-top: 150px;
}

.footer_container {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 32px;
}

.footer_title {
    max-width: 240px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.footer_description {
    max-width: 488px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 32px;
}

.social_box {
    max-width: 180px;
    display: flex;
    margin: 0 auto;
}

.footer_link {
    margin-right: 15px;
    color: #fff;
    margin-bottom: 65px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    text-decoration-line: underline;
}

.footer_rights {
    max-width: 160px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

