{% extends 'general/base.html' %}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/links.css' %}"> {% endblock %}


{% block content %}
   <section class="main">
        <div class="container">
            <h1 class="main_title">Links!</h1>
            <p class="link"><a href="https://openai.com/blog/chatgpt">Chat GPT</a> - generating article ideas and write about it</p>
            <p class="link"><a href="https://www.craiyon.com/">Craiyon</a> - generating images based on words </p>
            <p class="link"><a href="https://github.com/FireHead90544/craiyon.py">Craiyon API</a> - API for Craiyon from <a href="https://github.com/FireHead90544">FireHead90544</a> </p>
            <p class="link"><a href="https://www.figma.com/file/f45SD20DC5S1Gxjdk6bekO/%5BPublished%5D%5BEN%5D-%C2%ABNordic-Rose%C2%BB?node-id=1-2&t=sd2yYZGGIy0WycaD-0">Nordic Rose</a> - original figma design</p>
            <p class="link"><a href="https://vercel.com/">Versel</a> - free hosting </p>
            <p class="link"><a href="https://github.com/RadiATsiyA/GPTnews">GPT News</a> - this project in GitHub</p>
        </div>
    </section>
{% endblock %}

